<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">About</a></li>
<li><a href="/downloads">Downloads</a></li>
<li><a href="/guide">User Guide</a></li>
<li><a href="/credits">Credits</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
		<ul>
          <li>
            <a href="http://compbio.med.harvard.edu"><img class="institution-logo" src="/assets/images/logos/harvard-medical-school.png" alt="http://compbio.med.harvard.edu"></a>
          </li>
        
          <li>
            <a href="http://vcg.seas.harvard.edu"><img class="institution-logo" src="/assets/images/logos/harvard-school-of-engineering-and-applied-sciences.png" alt="http://vcg.seas.harvard.edu"></a>
          </li>
        
          <li>
            <a href="http://www.cg.jku.at"><img class="institution-logo" src="/assets/images/logos/johannes-kepler-university-linz.png" alt="http://www.cg.jku.at"></a>
          </li>
        
          <li>
            <a href="http://icg.tugraz.at"><img class="institution-logo" src="/assets/images/logos/tu-graz.png" alt="http://icg.tugraz.at"></a>
          </li>
        
      </ul>
	  </footer>
  </body>

</html>
