<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">About</a></li>
<li><a href="/downloads">Downloads</a></li>
<li><a href="/guide">User Guide</a></li>
<li><a href="/credits">Credits</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
		<ul>
          <li>
            <a href="http://www.sfu.ca"><img class="institution-logo" src="/logos/SFU_Logo.jpg" alt="Simon Fraser University"></a>
          </li>
          <li>
            <a href="http://gruvi.cs.sfu.ca"><img class="institution-logo" src="/logos/Gruvi_logo.jpg" alt="Graphics + Usability + Visualization Lab"></a>
          </li>
          <li>
            <a href="http://informatik.univie.ac.at/vda"><img class="institution-logo" src="/logos/uni_logo-jubi.png" alt="Visualization and Data Analysis Research Group"></a>
          </li>
          <li>
            <a href="http://www.bcgsc.ca"><img class="institution-logo" src="/logos/BCCancerAgency2.jpg" alt="Canada's Michael Smith Genome Sciences Centre"></a>
          </li>
          <li>
            <a href=""http://brc.ubc.ca"><img class="institution-logo" src="/logos/ubc.jpg" alt="UBC Biomedical Research Centre"></a>
          </li>
      </ul>
	  </footer>
  </body>

</html>
